h5 {
  font-size: 1.65em;
  margin-bottom: 15px;
}

#selDataset {
  background-color: white;
  height: 35px;
  width: 80px;
  font-size:15px;
  font-weight: bold;
}

#sample-metadata {
  width: max-content;
  height: max-content;
  

}